<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat Detail (<%= client_id %>)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<style>
    
#pagination {
    float : right;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 1px 2px 4px 2px;
    border-top: 1px solid #AEAEAE;
    border-bottom: 1px solid #FFFFFF;
    background-color: #DADADA;
    background-image: -webkit-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:    -moz-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:     -ms-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:      -o-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:         linear-gradient(top, #DBDBDB, #E2E2E2);
}
#pagination a, #pagination i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    color: #7D7D7D;
    text-align: center;
    font-size: 10px;
    padding: 3px 0 2px 0;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
         -o-user-select:none;
            user-select:none;
}

#pagination a {
    margin: 0 2px 0 2px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
    text-shadow: 0 1px 1px #FFF;
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:    -moz-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:     -ms-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:      -o-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:         linear-gradient(top, #F3F3F3, #D7D7D7);
}
#pagination i {
    margin: 0 3px 0 3px;
}
#pagination a.current {
    border: 1px solid #E9E9E9;
    box-shadow: 0 1px 1px #999;
    background-color: #DFDFDF;
    background-image: -webkit-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:    -moz-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:     -ms-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:      -o-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:         linear-gradient(top, #D0D0D0, #EBEBEB);
}
</style>
<body>

<div class="container" style="padding: 20px;">
    
  <h2>Client Id : <%=client_id %></h2>
  <div>
    From : <input type="date" id="start_date" style="margin : 5px;" placeholder="starting date"> To : <input style="margin : 5px;" id="end_date" type="date" placeholder="Ending date">  
    Limit : <select id="limit" onselect="limitvalueSelected()"><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option></select>
    <input type="button" onclick="handleFilterClick()" style="margin : 5px;" class="btn btn-secondary" value="filter"></button>
    <input class="btn btn-secondary"
        style="margin : 5px; float: right;"    
        type="button" 
        onclick="tableToExcel('detailTable', 'name', 'report.xls')" 
        value="Export to Excel"
    >
  </div>
  
    <table class="table" id="detailTable">
        <thead class="thead-dark">
            <tr>
            <th>User Id</th>
            <th>Date</th>
            <th>User Interaction</th>
            </tr>
        </thead>
        <tbody>  
        <% for(var i=0; i < lists.results.length; i++) { %>
            <tr>
                <td><%= lists.results[i].user_id %></td>
                <td><%= date =  lists.results[i].textDate %></td>
                <!-- <td><%= date =  lists.results[i].createdAt %></td> -->
                <td>
                    <ul class="border" style="border-radius: 11px">
                    <% for(var j=0; j < lists.results[i].response.length; j++ ) {%>
                        <li style="list-style-type: circle;"><span>
                            <%= lists.results[i].response[j].bot.questionTag %>
                        </span> => 
                        <span>
                            <% if(lists.results[i].response[j].user_response.text) { %>
                            <%= lists.results[i].response[j].user_response.text %> 
                            <% } else { %>
                                <%= lists.results[i].response[j].user_response.value %> 
                             <%  }%>
                        </span></li>
                    <% } %>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <div id="pagination"></div>

</div>
</body>

<script>
if(window.location.search){
    let searchString = window.location.search.replace('?' , '');
    searchString.split('&').forEach((elem) => {
        if(document.getElementById(elem.split('=')[0])){
            document.getElementById(elem.split('=')[0]).value = elem.split('=')[1];
        }
    })
}


function handleFilterClick() {
    if(document.getElementById('start_date').value && document.getElementById('end_date').value){
        window.location.href = window.location.origin + window.location.pathname + "?page=1&end_date="+ document.getElementById('end_date').value + "&start_date=" + document.getElementById('start_date').value + "&limit="+ document.getElementById('limit').value;
    } else {
        alert("Starting and ending date is required")
    }
}
function tableToExcel(table, name, filename) {
        let uri = 'data:application/vnd.ms-excel;base64,', 
        template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><title></title><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>', 
        base64 = function(s) { return window.btoa(decodeURIComponent(encodeURIComponent(s))) },         format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; })}
        
        if (!table.nodeType) table = document.getElementById(table)
        var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}

        var link = document.createElement('a');
        link.download = filename;
        link.href = uri + base64(format(template, ctx));
        link.click();
}

function reloadPage(pageNo){
    let newSearchString= "?page="+pageNo
    let searchString = window.location.search.replace('?' , '');
    searchString.split('&').forEach((elem) => {
        if(elem.split('=')[0] != 'page'){
            newSearchString += '&'+ elem
        }
    })
    window.location.href = window.location.origin + window.location.pathname + newSearchString;
}

var Pagination = {

code: '',

// --------------------
// Utility
// --------------------

// converting initialize data
Extend: function(data) {
    data = data || {};
    Pagination.size = data.size || 300;
    Pagination.page = data.page || 1;
    Pagination.step = data.step || 3;
},

// add pages by number (from [s] to [f])
Add: function(s, f) {
    for (var i = s; i < f; i++) {
        Pagination.code += '<a>' + i + '</a>';
    }
},

// add last page with separator
Last: function() {
    Pagination.code += '<i>...</i><a>' + Pagination.size + '</a>';
},

// add first page with separator
First: function() {
    Pagination.code += '<a>1</a><i>...</i>';
},



// --------------------
// Handlers
// --------------------

// change page
Click: function() {
    Pagination.page = +this.innerHTML;
    Pagination.Start();
    reloadPage(Pagination.page)
    
},

// previous page
Prev: function() {
    Pagination.page--;
    if (Pagination.page < 1) {
        Pagination.page = 1;
    }
    Pagination.Start();
    reloadPage(Pagination.page)


},

// next page
Next: function() {
    Pagination.page++;
    if (Pagination.page > Pagination.size) {
        Pagination.page = Pagination.size;
    }
    reloadPage(Pagination.page)
    
    Pagination.Start();
},



// --------------------
// Script
// --------------------

// binding pages
Bind: function() {
    var a = Pagination.e.getElementsByTagName('a');
    for (var i = 0; i < a.length; i++) {
        if (+a[i].innerHTML === Pagination.page) a[i].className = 'current';
        a[i].addEventListener('click', Pagination.Click, false);
    }
},

// write pagination
Finish: function() {
    Pagination.e.innerHTML = Pagination.code;
    Pagination.code = '';
    Pagination.Bind();
},

// find pagination type
Start: function() {
    if (Pagination.size < Pagination.step * 2 + 6) {
        Pagination.Add(1, Pagination.size + 1);
    }
    else if (Pagination.page < Pagination.step * 2 + 1) {
        Pagination.Add(1, Pagination.step * 2 + 4);
        Pagination.Last();
    }
    else if (Pagination.page > Pagination.size - Pagination.step * 2) {
        Pagination.First();
        Pagination.Add(Pagination.size - Pagination.step * 2 - 2, Pagination.size + 1);
    }
    else {
        Pagination.First();
        Pagination.Add(Pagination.page - Pagination.step, Pagination.page + Pagination.step + 1);
        Pagination.Last();
    }
    Pagination.Finish();
},



// --------------------
// Initialization
// --------------------

// binding buttons
Buttons: function(e) {
    var nav = e.getElementsByTagName('a');
    nav[0].addEventListener('click', Pagination.Prev, false);
    nav[1].addEventListener('click', Pagination.Next, false);
},

// create skeleton
Create: function(e) {

    var html = [
        '<a>&#9668;</a>', // previous button
        '<span></span>',  // pagination container
        '<a>&#9658;</a>'  // next button
    ];

    e.innerHTML = html.join('');
    Pagination.e = e.getElementsByTagName('span')[0];
    Pagination.Buttons(e);
},

// init
Init: function(e, data) {
    Pagination.Extend(data);
    Pagination.Create(e);
    Pagination.Start();
}
};



/* * * * * * * * * * * * * * * * *
* Initialization
* * * * * * * * * * * * * * * * */

var init = function() {
Pagination.Init(document.getElementById('pagination'), {
    size: <%= lists.totalPages %>, // pages size
    page: <%= lists.page %>,  // selected page
});
};

document.addEventListener('DOMContentLoaded', init, false);


</script>
</html>
